parameters:
    level: 4
    paths:
        - src/
    excludePaths:
        - tests/
        - vendor/
        - src/WebSocketServiceProvider.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    
    # AMPHP specific configurations
    scanDirectories:
        - vendor/amphp/
        
    ignoreErrors:
        # Ignore AMPHP specific async issues
        - '#Call to an undefined method Amp\\Future::#'
        - '#Cannot call method .* on Amp\\Future.*#'
        - '#Parameter .* of .* expects .*, Amp\\Future.* given#'
        - '#Return type .* of method .* should be compatible with return type .* of method .*#'
        
        # Framework integration issues (standalone library)
        - '#Call to an undefined method.*WebSocketServiceProvider::#'
        - '#.*HighPerApp\\HighPer\\Contracts\\.*#'
        - '#Class HighPerApp\\HighPer\\WebSockets\\WebSocketHandler not found#'
        - '#Parameter .* has invalid type HighPerApp\\HighPer\\Contracts\\.*#'
        
    # Additional rules for high-performance code
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 4
        
